<div class="container">
    <h1 class="h1">Contato</h1>
    <form>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputNome">Nome</label>
            <input type="text" class="form-control" id="inputNome" placeholder="">
          </div>
          <div class="form-group col-md-6">
            <label for="inputSobrenome">Sobrenome</label>
            <input type="text" class="form-control" id="inputSobrenome" placeholder="">
          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail">Email</label>
          <input type="text" class="form-control" id="inputEmail" placeholder="">
        </div>
        <div class="form-group">
          <label for="inputMensagem">Mensagem</label>
          <textarea type="text" class="form-control" id="inputMensagem" placeholder=""rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
      </form>
</div>